@import url('@/assets/css/partials.css');
.hero--section img {
    width: 100%;
    position: absolute;
    object-fit: cover;
    height: 500px;
    top: 0;
    left: 0;
    z-index: -99999;
}

.hero--section {
    height: 250px;
    width: 100%;
}

.hero--section h1 {
    color: var(--gray-50);
    font-size: 55px;
    margin-bottom: 50px;
}

.hero--section input {
    display: block;
    border: none;
    /* border-bottom: 1px solid var(--accent-color-light); */
    width: 100%;
    background-color: transparent;
    color: var(--gray-300);
    padding: 8px 0;
}

.hero--section input:focus {
    outline: none;
}

.hero--section .search {
    color: var(--gray-300);
    font-size: 24px;
    padding-left: 0.4rem;
}

.hero--section .forward {
    /* background-color: var(--gray-300); */
    font-size: 24px;
    padding-left: 0.4rem;
    border-radius: 0 5px 5px 0;
    padding: 8px 12px;
    background-color: var(--accent-color);
    border: 1px solid var(--accent-color);
}

.hero--section .search--area {
    margin-top: 2rem;
    border: 1px solid var(--accent-color-light);
    border-radius: 5px;
}

.hero--section .search--area input::placeholder {
    color: var(--gray-300);
    font-size: 0.8rem;
}

.card--area .card--content {
    border: 1px solid var(--accent-color-light);
    width: 100%;
    border-radius: 5px;
    padding: 28px 20px;
    display: flex;
    align-items: center;
}

.card--area * {
    margin: 0;
}

.card--area .card--content h4 {
    color: var(--gray-100);
}

.card--area .card--content h6 {
    color: var(--gray-300);
    margin-bottom: 0.5rem;
}

.card--area {
    display: flex;
    gap: 40px;
}

.main--content {
    border-radius: 5px;
    margin-top: 3rem;
    border: 1px solid var(--accent-color-light);
}

.divider {
    background-color: var(--accent-color-light);
    width: 1px;
    height: auto;
}

.main--content .main-content-card h5,
.main--content .main-content-card h6,
.main--content .main-content-card p {
    color: var(--gray-300);
}

.main--content .main-content-card {
    /* padding: rem; */
}

.icon-num {
    color: var(--gray-300);
    border: 1px solid var(--gray-300);
    border-radius: 3px;
    height: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.8rem;
    padding: 0.3rem;
}

.icon-tx {
    color: var(--gray-300);
    border: 1px solid var(--gray-300);
    border-radius: 3px;
    width: 35px;
    height: 35px;
    display: flex;
    font-size: 0.8rem;
    align-items: center;
    justify-content: center;
    padding: 0.3rem;
}

.main--content * {
    margin: 0;
}

.main--content .main-content-card {
    margin-top: 0.4rem;
}

.main--content hr {
    border-top: 1px solid var(--accent-color-light) !important;
}

span.sender {
    color: var(--gray-400);
}

.view--all {
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin-top: 0.1rem; */
    gap: 10px;
    color: var(--gray-200);
}

.view--all a {
    color: var(--gray-300);
    font-size: 0.9rem;
}

span.header--sender {
    color: var(--gray-200);
    font-size: 18px;
}

h6.block--num {
    color: var(--gray-200);
    font-size: 18px;
}

.time {
    color: var(--gray-400);
    font-size: 10px;
}


/* App Header Styling  */

.app--header ul li a {
    color: var(--gray-50);
    position: relative;
}

.app--header .router-link-exact-active {
    color: var(--accent-color) !important;
}

.app--header .router-link-exact-active::after {
    content: '';
    width: 80%;
    height: 0.1rem;
    background: var(--accent-color);
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
}

.app--header a:hover {
    color: var(--accent-color);
}

.table td,
.table th {
    border-top: none;
    border-bottom: 1px solid var(--accent-color-light);
}

.table td,
.table th {
    vertical-align: middle;
}


/* App Footer  */

.footer {
    background: url('@/assets/img/footer--bg.jpg');
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: bottom;
    margin-top: 3.3rem;
}

.footer--header {
    color: var(--gray-50);
}

.footer ul li {
    color: var(--gray-50);
}


/* Search Results */

.block_txns {
    padding: 30px 40px;
    margin-top: 3rem;
    border: 1px solid var(--accent-color-light);
    border-radius: 10px;
}

.block_txns .d-md-flex {
    margin-bottom: 1.6rem;
}

.block_txns h3 {
    color: var(--gray-50);
}

.block__table {
    width: 75%;
    margin-top: 40px;
}

.block__table h6 {
    color: var(--gray-200);
    font-size: 16px;
    margin: 0;
}

.block__table p {
    color: var(--gray-100);
    font-size: 16px;
    margin: 0;
    /* margin-left: 60px; */
}

.block__table ion-icon {
    color: var(--gray-50);
    cursor: pointer;
}

.block__table span {
    color: var(--accent-color);
}

.block_txns .success--badge {
    background: var(--green-100);
    padding: 0.2rem 0.6rem;
    font-size: 0.8rem;
    border-radius: 3px;
    color: #34c385 !important;
    font-weight: bold;
    width: max-content;
}


/* Txns Page */

.txns__wrap h5 {
    margin-top: 3rem;
    margin-bottom: 0.2rem;
    font-size: 1.6rem;
    color: var(--gray-50);
}

.txns__wrap .txns__content {
    padding: 40px 20px;
    border: 1px solid var(--accent-color-light);
    border-radius: 10px;
}

.txns__wrap .txns__content h6 {
    color: var(--gray-200);
}

.txns__wrap .txns__content .table thead th {
    border-bottom: 1px solid var(--accent-color-light);
    color: var(--gray-200);
    font-size: 15px;
}

.txns__wrap .txns__content .table td,
.table th {
    color: var(--gray-100);
    font-size: 14px;
}

.txns__wrap .txns__content .table span {
    color: var(--accent-color);
}

a {
    color: var(--gray-50);
}