@media (max-width: 990px) {
    .hero--section h1 {
        font-size: 40px;
    }
    .main--content .divider {
        display: none;
    }
    .main--content {
        grid-template-columns: auto;
    }
    .footer {
        /* background: url('@/assets/img/footer--bg.jpg'); */
        height: 100%;
        width: 100%;
        background-size: auto 100%;
        background-position: bottom;
        margin-top: 3.3rem;
    }
    .card--area {
        display: grid;
        grid-template-columns: auto;
    }
    .block_txns {
        padding: 10px;
    }
    .block__table {
        width: 100%;
    }
    .no__results__wrap img {
        width: 50%;
    }
    .no__results__wrap h3 {
        font-size: 18px;
    }
    .no__results__wrap p {
        font-size: 10px;
    }
    .no__results__wrap span {
        font-size: 12px;
    }
    .no__results__wrap ion-icon {
        font-size: 18px;
    }
}